header, nav, footer {
    width: 960px;
    margin: 0px auto; 
    text-align: center; 
}

body {
    background-color: #D8D296;
    color: #7D5259;
}

.description {
    text-align: center;
}

a:hover { 
    background-color: yellow;
}

a {
    border: 2px solid;
    border-color: #7D5259;
    border-radius: 5px;
    padding: 10px;
    background-color: #A56975;
    color: #D8D296 ;
}

#ygo, #pkmn{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

aside, section {
        float:left;
}
    
aside {
    text-align: left;
    padding-left: 10px;
    padding-top:  50px;
    width:200px;
    font-size: 1.3em;
}
    
table {
    margin: 0px auto;
}

.Yugioh, .pokemon {
    text-align: center
}